<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>OS APP - Versão 0.0.1</strong> Desenvolvido por: <a href="">Heytor Toito de Carvalho</a>. 
    </p>
  </div>
</footer>