<nav class="navbar is-link" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>


      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Clientes
        </a>

        <div class="navbar-dropdown">
          <a href="/clientes" class="navbar-item">
            Meus Clientes
          </a>
          <a href="/cadastroCliente" class="navbar-item">
            Cadastrar Cliente
          </a>
        </div>

      </div>
    
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Ordem de Serviço
        </a>

        <div class="navbar-dropdown">
          <a href="/ordens" class="navbar-item">
            Minhas OS's
          </a>
          <a href="/cadastroOS" class="navbar-item">
            Cadastrar Nova OS
          </a>
          <a class="navbar-item">
            Pesquisar OS
          </a>
        </div>
      </div>

    
    </div>
</nav>