<h1>Pesquisar por Ordem de Serviço</h1>
<form action="/buscarOrdem/" method="get">
    <div class="field">
        <label class="label">Informe o Número da Ordem de Serviço ou Código do Cliente</label>
        <div class="control">
            <input class="input" name="busca" type="text" placeholder="Número OS/Código Cliente" required/>
        </div>
    </div>
    <button style="float:right;" class="button is-primary" type="submit"/>Pesquisar</button>
</form>