<form method="submit" type="post" action="/cadastroCliente">
  <div class="field">
    <label class="label">Nome</label>
    <div class="control">
      <input class="input" name="nome" type="text" placeholder="Nome do Cliente" required/>
    </div>
  </div>

  <div class="field">
    <label class="label">Endereço</label>
      <div class="control">
        <input class="input" name="endereco" type="text" placeholder="Endereço do Cliente" value="" required/>
      </div>
  </div>

  <div class="field">
    <label class="label">CPF</label>
      <div class="control">
        <input class="input" name="cpf" type="text" placeholder="CPF do Cliente" value="" required/>
      </div>
  </div>

  <div class="field">
    <label class="label">Telefone</label>
      <div class="control has-icons-left">
        <input class="input" name="telefone" type="text" placeholder="Telefone/Whatsapp do Cliente" value="" required/>
        <span class="icon is-small is-left">
          <i class="fas fa-phone"></i>
        </span>
      </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
      <div class="control has-icons-left">
        <input class="input" name="email" type="email" placeholder="e-Mail do Cliente" value="email@email.com"/>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>  
      </div>


  <div class="field">
    <label class="label">Observações</label>
    <div class="control">
      <textarea name="observacao" class="textarea" placeholder="Observações à respeito deste Cliente"></textarea>
    </div>
  </div>


  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Cadastrar Cliente</button>
    </div>
  </div>
</form>