<form action="/cadastroOS" method="post">
<div class="field">
  <label class="label">Aparelho</label>
  <div class="control">
    <input class="input" name="aparelho" type="text" placeholder="Aparelho/Modelo" required/>
  </div>
</div>

<div class="field">
  <label class="label">Defeito</label>
    <input class="input" name="defeito" type="text" placeholder="Defeito Apresentado" value="" required/>
</div>

<div class="field">
  <label class="label">Servico</label>
    <input class="input" name="servico" type="text" placeholder="O que foi/será realizado?" required/>
</div>

<div class="field">
  <label class="label">Valor</label>
    <input class="input" name="valor" type="number" placeholder="Valor" required/>
</div>

<label class="label">Cliente:</label>
<div class="select">  
   <select name="cliente">
    {{#each listaClientes}}
    <option value="{{id}}">{{nome}}</option>
    {{/each}}
  </select>
</div>

<button class="button is-primary">Cadastrar OS</button>

</form>

