<form action="/cadastroOS" method="post">
<div class="field">
  <label class="label">Aparelho</label>
  <div class="control">
    <input class="input" name="aparelho" type="text" placeholder="Aparelho/Modelo" required/>
  </div>
</div>

<div class="field">
  <label class="label">Defeito</label>
    <input class="input" name="defeito" type="text" placeholder="Defeito Apresentado" value="" required/>
</div>

<div class="field">
  <label class="label">Servico</label>
    <input class="input" type="text" placeholder="O que foi realizado">
</div>

<div class="field">
  <label class="label">Valor</label>
    <input class="input" type="number" placeholder="Valor">
</div>

<div class="field">
  <label class="label">Status</label>
  <div class="control">
    <div class="select">
      <select>
        <option value=""></option>
      </select>
    </div>
  </div>
</div>

<div class="field">
  <label class="label">Autorizado?</label>
  <div class="control">
    <div class="select">
      <select>
        <option value=""></option>
      </select>
    </div>
  </div>
</div>


<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Registrar OS</button>
  </div>
</div>
</form>
